# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ITAcademy2020\task8_Sergey_Bichan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
